@model IEnumerable<petmed.Models.Procedure>

@{
    ViewBag.Title = "Index";
}
<div style="display:flex; justify-content:space-between">

    <h2>Procedimentos</h2>

    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create")'">Cadastrar novo</button>

</div>
<table  class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Animal.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Veterinarian.Matriculation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdministeredMedication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Animal.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Veterinarian.Matriculation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdministeredMedication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
